<!DOCTYPE html>
<html>
    <head>
        <title>sign in your name</title>
    </head>
    <body>
        <h2>Please sing in.</h2>
        <form method="post" action="/user">
            <p>Name:<br><input type="text" name="username"></p>
            <p>Email:<br><input type="text" name="email"></p>
            <p>Website:<br><input type="text" name="website"></p>
            <p>Language:<br><input type="text" name="language"></p>
            <input type="submit" value="ok,submit my information">
        </form>
    </body>
</html>
